<!-- <script>
$(document).ready(function() {
  $(".value").bind('click', calculateCosts);
});

function calculateCosts() {
  console.log("onclick")
  var button = this;
  // debugger
  $("#costs").html(button.html());
};
</script> -->

<section class="row text-center">
  <h3>Costs Calculation</h3>
  <p class="lead">Enter number of participants</p>

  <p id="costs">2500 EUR</p>
  <!-- <button class="value">Try it2</button> -->

  <div class="btn-group" data-toggle="buttons">
    <label class="btn btn-primary active">
      <input type="checkbox" checked autocomplete="off"> 0
    </label>
    <label class="btn btn-primary">
      <input type="checkbox" autocomplete="off"> 20
    </label>
    <label class="btn btn-primary">
      <input type="checkbox" autocomplete="off"> 40
    </label>
    <label class="btn btn-primary">
      <input type="checkbox" autocomplete="off"> 60
    </label>
    <label class="btn btn-primary">
      <input type="checkbox" autocomplete="off"> 80
    </label>
  </div>

  <p>* Contact us to know more about our special discounts</p>
</section>
