<section>
<div id="myCarousel" class="carousel slide" data-ride="carousel">

  <!--wrapper for slides -->

  <div class = "carousel-inner" role="listbox">
    <div class ="item">
      <img src="src="../../assets/images/stupid_events.jpg" "href="http://tasteofcode.nl/1" alt="Workshop_1"> </div>


    <div class = "item active">"src="../../assets/images/stupid_events.jpg"</div>
        <img src="images/workshop_2.jpg" "href="http://tasteofcode.nl/2" alt="Workshop_2"> </div>

    <div class = "item">"images/workshop_3.jpg"</div>
      <img src="images/workshop_3.jpg" "href="src="../../assets/images/stupid_events.jpg" alt="Workshop_3">
    </div>

    <a class="left carousel-control" href=#myCarousel" role="button" data-slide data-slide="prev">...</a>
    <a class="right carousel-control" href=#myCarousel" role="button" data-slide= "next">...</a>
    <!--/.carousel -->
</section>
