<section class="row">
  <h3>Choose your course</h3>
  <p>Get to know our different types of workshops</p>
      <div class="carousel carousel-showthreemoveone slide" id="workshop-carousel">
        <div class="carousel-inner">
          <%= @workshops.each_with_index do|workshop, index| %>
          <% if index = 0 %>
          <div class="item active">
            <div class="col-sm-4">
              <h3><%= workshop.title %></h3>
              <div class="row">
                <div class="col-sm-6">
                  <%= link_to "GitHub", workshop.github_link %>
                </div>
                <div class="col-sm-6">
                  <%= link_to "Demo", workshop.demo_link %>
                </div>
              </div>
              <a href="#">
                <img src="http://placehold.it/500/0054A6/fff/&amp;text=1" class="img-responsive">
              </a>
            </div>
          </div>
          <% end %>
          <div class="item">
            <div class="col-sm-4"><a href="#"><img src="http://placehold.it/500/0054A6/fff/&amp;text=1" class="img-responsive"></a></div>
          </div>
          <% end %>

        </div>
        <a class="left carousel-control" href="#workshop-carousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
        <a class="right carousel-control" href="#workshop-carousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
      </div>
</section>
