<footer class="row footer">
  <div class="col-md-4 text-left">
    2017 Taste of Code
  </div>
  <div class="col-md-4 text-center">
    <%= image_tag "https://github.com/Codaisseur/taste-of-code-website/blob/master/images/sponsors/codaisseur.png?raw=true", class: "img-small" %>
  </div>
  <div class="social-icons col-md-4 text-right">
    <div class="icon-container">
      <%= link_to "https://twitter.com/devbootcamps", target: "blank" do %>
      <i class="fa fa-twitter"></i>
      <% end %>
    </div>
    <div class="icon-container">
      <%= link_to "https://www.facebook.com/developmentbootcamp", target: "blank" do %>
      <i class="fa fa-facebook"></i>
      <% end %>
    </div>
  </div>
</footer>
