<section>
  <div class="container-fluid">
    <div class="container">
      <h2> Get Ready for the Day </h2>
      <h3>Requirements</h3>
      <p>Here goes all kinds of awesome text that will describe what is required of attendees to attend this amaaaazing event!</p>
    </div>
  </div>
</section>
