<section class="row text-center">
  <h2>Get Ready for the Day</h2>
  <p class="lead">Know Your Tools</p>
  <div class="col-md-4">
    <img src="" height="140px" width="140px" alt="Small picture" class="img-circle" />
    <h3>Title</h3>
  </div>
  <div class="col-md-4">
    <img src="" height="140px" width="140px" alt="Small picture" class="img-circle" />
    <h3>Title</h3>
  </div>
  <div class="col-md-4">
    <img src="" height="140px" width="140px" alt="Small picture" class="img-circle" />
    <h3>Title</h3>
  </div>
</section>
