<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-fixed-top">
        <div class="container">
            <div>
                <div class="navbar-header">
                    <a href="#" class=" navbar-brand navbar-left" style="width:50px;height:50px;border-radius:50px;font-size:20px;color:#fff;line-height:100px;text-align:center;background:#000">
                      Replace with TOC logo<img src="" />
                    </a>
                </div>
                <ul class="nav nav-pills navbar-right">
                  <%= nav_link 'Join TOC' join_path %>
                  <%= nav_link 'InCompany' in_company_path %>
                  <%= nav_link 'Host TOC' host_path %>
                </ul>
            </div>
        </div>
    </nav>
</body>
