<section class="row text-center  row-secondary">
  <h2>Join our Newsletter</h2>
  <p class="subtitle">Make sure you don't miss any of our upcoming workshops!</p>

  <%= form_tag('/subscribe', id: "subscribe" ) do %>
    <%= email_field :email, :address, {id: "email", placeholder: "Enter your email address", class: "form-newsletter"} %>
    <%= submit_tag "Subscribe", class: "btn btn-secondary" %>
  <% end %>

</section>
