<section class="row text-center  row-secondary">
  <h2>Join our Newsletter</h2>
  <p class="subtitle">Make sure you don't miss any of our upcoming workshops!</p>

  <form>
    <input type="text" class="form-newsletter" placeholder="Enter your email address">
  </form>
  <%= link_to "Subscribe", "", class: "btn btn-secondary" %>
</section>
