<section>
  <div class="container-fluid">
    <div class="container">
      <h2>Join our newsletter</h2>
      <p>Be the first one to know about our next events</p>
      <p>***Here comes the form***</p>
    </div>
  </div>
</section>
