<section>
  <div class="container-fluid">
    <div class="container">
      <h2>Join our newsletter</h2>
      <p>Be the first one to know about our next events</p>
      <form>
        <input type="text" id="input_first_name" class="form-control" placeholder="First Name" required="" autofocus="">
        <input type="text" id="input_first_name" class="form-control" placeholder="Last Name" required="" autofocus="">
        <input type="email" id="input_email" class="form-control" placeholder="Email address" required="" autofocus="">
          <input type="button" value="Subscribe">
      </form>
    </div>
  </div>
</section>
