<section>
  <div class="container-fluid">
   <div class="container">
     <h1>Proudly supported by</h1>
     <div class="row">
       <div class="col-md-4">
         <div class="panel panel-default">
           <div class="panel-image">
             <img src="image path goes here..." alt="company1 logo" />
             <p>some text about company 1</p>
           </div>
         </div>
       </div>
       <div class="col-md-4">
         <div class="panel panel-default">
           <div class="panel-image">
             <img src="image path goes here..." alt="company2 logo" />
             <p>some text about company 2</p>
           </div>
         </div>
       </div>
       <div class="col-md-4">
         <div class="panel panel-default">
           <div class="panel-image">
             <img src="image path goes here..." alt="company3 logo" />
             <p>some text about company 3</p>
           </div>
         </div>
       </div>
       <div class="col-md-4">
         <div class="panel panel-default">
           <div class="panel-image">
             <img src="image path goes here..." alt="company4 logo" />
             <p>some text about company 4</p>
           </div>
         </div>
       </div>
       <div class="col-md-4">
         <div class="panel panel-default">
           <div class="panel-image">
             <img src="image path goes here..." alt="company5 logo" />
             <p>some text about company 5</p>
           </div>
         </div>
       </div>
       <div class="col-md-4">
         <div class="panel panel-default">
           <div class="panel-image">
             <img src="image path goes here..." alt="company6 logo" />
             <p>some text about company 6</p>
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>
</section>
