<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <style>
      h1 {text-align: center;}
      img {width: 100; height: 40}
    </style>
</head>

<h1>Proudly supported by</h1>

<div class="">
  <img src="image path goes here..." alt="company1 logo" />
</div>

<div class="">
  <img src="image path goes here..." alt="company2 logo" />
</div>

<div class="">
  <img src="image path goes here..." alt="company3 logo" />
</div>

<div class="">
  <img src="image path goes here..." alt="company4 logo" />
</div>

<div class="">
  <img src="image path goes here..." alt="company5 logo" />
</div>

<div class="">
  <img src="image path goes here..." alt="company6 logo" />
</div>
