<section class="row text-center">
  <h3>Proudly supported by</h3>
  <div class="row">
    <div class="col-md-4">
      <div class="row text-left">
        <div class="col-md-4">
          <img src="image path goes here..." alt="company1 logo" />
        </div>
        <div class="col-md-8">
          some text about company 1
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="row text-left">
        <div class="col-md-4">
          <img src="image path goes here..." alt="company1 logo" />
        </div>
        <div class="col-md-8">
          some text about company 1
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="row text-left">
        <div class="col-md-4">
          <img src="image path goes here..." alt="company1 logo" />
        </div>
        <div class="col-md-8">
          some text about company 1
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="row text-left">
        <div class="col-md-4">
          <img src="image path goes here..." alt="company1 logo" />
        </div>
        <div class="col-md-8">
          some text about company 1
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="row text-left">
        <div class="col-md-4">
          <img src="image path goes here..." alt="company1 logo" />
        </div>
        <div class="col-md-8">
          some text about company 1
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="row text-left">
        <div class="col-md-4">
          <img src="image path goes here..." alt="company1 logo" />
        </div>
        <div class="col-md-8">
          some text about company 1
        </div>
      </div>
    </div>
  </div>
</section>
