<section class="row text-center">
  <div id="testimonial-video">
    <iframe class="center-block" src="https://player.vimeo.com/video/201633032" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
  <h2>What people say about TOC</h2>

  <div id="carousel-testimonial" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carousel-testimonial" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-testimonial" data-slide-to="1"></li>
      <li data-target="#carousel-testimonial" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner reviews" role="listbox">
      <div class="item active">
        <div class="center-block img-carousel">
            <p class="review-text">I had so much fun! I would have never imagined to be able to build an online
            game in a day. I love to go home with a real, fun product!</p>
            <hr />
            <p>Vanessa Ho, January 23 2017</p>
        </div>
      </div>
      <div class="item">
        <div class="center-block img-carousel">
            <h4>Wouter</h4>
            <p>I had a really cool time!</p>
        </div>
      </div>
      <div class="item">
        <div class="center-block img-carousel">
            <h4>Wouter</h4>
            <p>I had a really cool time!</p>
        </div>
      </div>
    </div>

  </div>
</section>
