<section class="row text-center top-banner">
  <%= image_tag 'logo_toc.png', class: "img-small" %>
  <div class="cover-inner text-center">
    <h1>Taste of Code</h1>
    <hr class="orange-hr" />
    <h3>Beginner Coding Workshop</h3>
  </div>
</section>
