<section>
  <div class="container-fluid">
    <div class="container" align="middle">
      <img src="../../../assets/images/top-banner-logo.png" height="125" alt="Top banner Taste of Code" />
      <h3>"Title page goes here IF NOT in logo"</h3>
      <p class="lead" style="padding:10px">Beginner Coding Workshop</p>
    </div>
  </div>
</section>
