<section class="row text-center">
  <%= image_tag 'top-banner-logo.png', height: 125, alt: "Top banner Taste of Code" %>
  <h2>Taste of Code</h2>
  <p class="lead">Beginner Coding Workshop</p>
</section>
