<section class="row text-center">
  <h2>Upcoming Events</h2>
  <p class="lead">See What's Next!</p>
  <% @events.each do |event| %>
  <div class="col-md-4 event">
    <!-- workshop -->
    <!-- title of event -->
    <!-- date -->
    <!-- time -->
    <!-- rsvp -->
    <div class="row">
      <div class="col-md-4 col-md-offset-2">
        <button>RSVP</button>
      </div>
    </div>
  </div>
  <% end %>


</section>
