<section class="row text-center">
  <h2>Upcoming Events</h2>
  <p class="subtitle">
    Taste of Code is a <strong>free beginner workshop</strong><br />
    where we teach you how to build an <strong>online game in just one day</strong>.
  </p>
  <p class="subtitle">
    You will be surrounded by qualified coaches <br />
    and <strong>no prior experience</strong> is needed!
  </p>
  <% @events.each do |event| %>
  <div class="col-md-4 event-wrapper">
    <div class="event">
      <div class="event-btn event-btn-secondary event-workshop-type">
        <h4><%= event.title %></h4>
      </div>
      <div class="event-location">
        <span>Taste of Code<br/>at
          <%= event.location %></span>
      </div>
      <div class="event-date">
        <span><%= event.date.strftime("%B %d") %></span>
      </div>
      <div class="event-time">
        <span>10am – 4pm</span>
      </div>
      <div class="rsvp">
        <script async src="//widgets.nvite.com/1.6/button.js" data-button-text="RSVP" data-resource="<%= event.nvite_id %>" data-class="rsvp-button"></script>
      </div>
    </div>
  </div>
  <% end %>
</section>
