<section>
    <h3> Upcoming Events </h3>
    <p class="lead"> See What's Next! </p>
    <div class="container">
      <div class="row">
          <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-image"><img src="../../assets/images/stupid_events.jpg" alt=""></div>
                <div class="panel-body">
                  <h4></h4>
                  <p></p>
                </div>
                  <div class="text-center">
                    <a href="" class="btn btn-primary"> Register Now </a>
                  </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-image"><img src="../../assets/images/stupid_events.jpg" alt=""></div>
                <div class="panel-body">
                  <h4></h4>
                  <p></p>
                </div>
                  <div class="text-center">
                    <a href="" class="btn btn-primary"> Register Now </a>
                  </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-image"><img src="../../assets/images/stupid_events.jpg" alt=""> </div>
                <div class="panel-body">
                  <h4></h4>
                  <p></p>
                </div>
                  <div class="text-center">
                    <a href="" class="btn btn-primary"> Register Now </a>
                  </div>
            </div>
          </div>
      </div>
    </div
</section>
