<section class="row text-center row-secondary">
  <h2>What Will You Learn?</h2>
  <p class="subtitle">
    During our 1-day workshop you will learn the basics of <strong>HTML</strong>,
    <strong>CSS</strong> and <strong>JavaScript</strong>.
  </p>
  <%= image_tag 'HTML5_CSS_JavaScript.png', class: "img-medium" %>
</section>
