<section class="row text-center">
  <h2>What You Will Learn</h2>
  <p class="lead">Professional developers technologies</p>
  <div class="col-md-4">
    <img src="http://www.mcst.gov.mt/Media/Images/tdp.jpg" height="140px" width="140px" alt="Small picture" class="img-circle" />
    <h3>Some nice thing<br>devided over 2 lines</h3>
    <p>Some small text aswell</p>
  </div>
  <div class="col-md-4">
    <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRgMNNu2UDUH4wxRviSy--1XpCa3gel974wZxldYiHlxjJS4CcF" height="140px" width="140px" alt="Small picture" class="img-circle" />
    <h3>Some nice thing<br>devided over 2 lines</h3>
    <p>Some small text aswell</p>
  </div>
  <div class="col-md-4">
    <img src="http://fixe-software.com/images/Fixe-development-tech.png" height="140px" width="140px" alt="Small picture" class="img-circle" />
    <h3>Some nice thing<br>devided over 2 lines</h3>
    <p>Some small text aswell</p>
  </div>
</section>
