<section class="row text-center row-secondary">
  <h2>What You Will Learn</h2>
  <p class="lead">Professional developers technologies</p>
  <div class="col-md-4">
    <%= image_tag 'atom_logo.jpg', class: "img-circle img-small", alt: "Small picture" %>
    <h3>Some nice thing divided over multiple lines</h3>
    <p>Some small text aswell</p>
  </div>
  <div class="col-md-4">
    <%= image_tag 'atom_logo.jpg', class: "img-circle img-small", alt: "Small picture" %>
    <h3>Some nice thing divided over multiple lines</h3>
    <p>Some small text aswell</p>
  </div>
  <div class="col-md-4">
    <%= image_tag 'atom_logo.jpg', class: "img-circle img-small", alt: "Small picture" %>
    <h3>Some nice thing divided over multiple lines</h3>
    <p>Some small text aswell</p>
  </div>
</section>
