<section class="row text-center">
  <h2>Why hosting a TOC</h2>
  <p class="lead">Reasons to host</p>

  <div class="col-md-4 text-left">
    <div class="row">
      <div class="col-md-4">
        <%= image_tag '', class: "img-small img-circle" %>
      </div>
      <div class="col-md-8">
        <h4>Text title</h4>
        Description text
      </div>
    </div>
  </div>
  <div class="col-md-4 text-left">
    <div class="row">
      <div class="col-md-4">
        <%= image_tag '', class: "img-small img-circle" %>
      </div>
      <div class="col-md-8">
        <h4>Text title</h4>
        Description text
      </div>
    </div>
  </div>
  <div class="col-md-4 text-left">
    <div class="row">
      <div class="col-md-4">
        <%= image_tag '', class: "img-small img-circle" %>
      </div>
      <div class="col-md-8">
        <h4>Text title</h4>
        Description text
      </div>
    </div>
  </div>
</section>
