<div class="jumbotron">
  <div class="container">
    <h1>What You Will Learn</h1>
    <h3>Professional developers technologies</h3>
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <%= img_tag("https://goo.gl/images/EKxGqF", size: "140x140", alt: "Small picture", class: "img-circle") %>
          <h2>Some nice thing<br>devided over 2 lines</h2>
          <p>Some small text aswell</p>
        </div>
        <div class="col-lg-4">
          <%= img_tag("https://goo.gl/images/DYLvSX", size: "140x140", alt: "Small picture", class: "img-circle") %>
          <h2>Some nice thing<br>devided over 2 lines</h2>
          <p>Some small text aswell</p>
        </div>
        <div class="col-lg-4">
          <%= img_tag("https://goo.gl/images/NhRBXy", size: "140x140", alt: "Small picture", class: "img-circle") %>
          <h2>Some nice thing<br>devided over 2 lines</h2>
          <p>Some small text aswell</p>
        </div>
      </div>
    </div>
  </div>
</div>
