<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <style>
      .panel-image img{
        width: 100%;
      }
    </style>
</head>

<body>
  <div class="container-fluid"  >
    <h1> Upcoming Events </h1>
    <h3> See What's Next </h3>
    <div class="container marketing">
      <div class="row">
          <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-image"><img src="http://res.cloudinary.com/dmagtxb3l/image/upload/v1490710804/stupid_events_zxiljx.png" alt=""></div>
              <div class="panel-body">
                <h4></h4>
                <p></p>
              </div>
                <div class="text-center">
                  <a href="" class="btn btn-primary"> Register Now </a>
                </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-image"><img src="http://res.cloudinary.com/dmagtxb3l/image/upload/v1490710804/stupid_events_zxiljx.png" alt=""></div>
              <div class="panel-body">
                <h4></h4>
                <p></p>
              </div>
                <div class="text-center">
                  <a href="" class="btn btn-primary"> Register Now </a>
                </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-image"><img src="http://res.cloudinary.com/dmagtxb3l/image/upload/v1490710804/stupid_events_zxiljx.png" alt=""> </div>
              <div class="panel-body">
                <h4></h4>
                <p></p>
              </div>
                <div class="text-center">
                  <a href="" class="btn btn-primary"> Register Now </a>
                </div>
            </div>
          </div>
    </div>
  </div
</body>
</html>
