<h2>Events</h2>
<%= link_to "New Event", new_event_path, class: "btn btn-sm btn-default" %>
<hr>
<h3>Public Events</h3>
<%= render partial: "events_table", locals: { events: @public_events } %>
<hr>
<h3>InCompany Events</h3>
<%= render partial: "events_table", locals: { events: @incompany_events } %>
