<div class="container">
  <h2>Events</h2>
  <h3>Public Events</h3>
  <%= render partial: "events_table", locals: { events: @public_events } %>
  <hr>
  <h3>InCompany Events
  <%= render partial: "events_table", locals: { events: @incompany_events } %>
</div>
