<section class="row text-center">
  <h2> Host next TOC </h2>
  <p class="lead"> Talk to us </p>

  <form>
    <input type="text" id="input_first_name" class="form-control" placeholder="First Name" required="" autofocus="">
    <input type="text" id="input_last_name" class="form-control" placeholder="Last Name" required="" autofocus="">
    <input type="text" id="input_company_name" class="form-control" placeholder="Company Name" required="" autofocus="">
    <input type="text" id="input_email" class="form-control" placeholder="Email" required="" autofocus="">

    <div class="form-group">
      <div class='input-group date' id='datetimepicker9'>
        <input type='text' class="form-control" placeholder="Date (ex. 03/29/2017 3:00 PM)"/>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
      </div>

      Number of People:
      <div class="input-group number-spinner">
        <span class="input-group-btn data-dwn">
          <button class="btn btn-default btn-info" data-dir="dwn">
            <span class="glyphicon glyphicon-minus"></span>
          </button>
        </span>
        <input type="text" class="form-control text-center" value="1" min="1" max="100">
        <span class="input-group-btn data-up">
          <button class="btn btn-default btn-info" data-dir="up">
            <span class="glyphicon glyphicon-plus"></span>
          </button>
        </span>
      </div>

      <textarea class="form-control" id="comment" placeholder="Comment" rows="5"></textarea>
    </div>

    <button type ="submit" class="btn btn-primary">Submit</button>
  </form>
</section>
