<div class="container-fluid">
  <h1> Host next TOC </h1>
  <h3> Talk to us </h3>
  <br>
  <form>
    <input type="text" id="input_first_name" class="form-control" placeholder="First Name" required="" autofocus="">
    <input type="text" id="input_first_name" class="form-control" placeholder="Last Name" required="" autofocus="">
    <input type="text" id="input_first_name" class="form-control" placeholder="Company Name" required="" autofocus="">
    <input type="text" id="input_email" class="form-control" placeholder="Email" required="" autofocus="">

      <div class="form-group">
        <div class='input-group date' id='datetimepicker9'>
          <input type='text' class="form-control" placeholder="Date (ex. 03/29/2017 3:00 PM)"/>
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar">
              </span>
            </span>
        </div>
      </div>

        <script type="text/javascript">
            $(function () {
                $('#datetimepicker9').datetimepicker({
                    viewMode: 'years'
                });
            });
        </script>
      </div>

      <div class="row">
        <div class="input-group number-spinner">
          <span class="input-group-btn data-dwn">
            <button class="btn btn-default btn-info" data-dir="dwn">
              <span class="glyphicon glyphicon-minus">
              </span>
            </button>
          </span>

        </div>
      </div>

  </form>
</div>
