<div class="fluid-container text-center cover">
  <div class="cover-inner">
    <img src="" />
    <h1>Taste of Code</h1>
    <h3>Beginner Coding Workshop</h3>
    <%= link_to "Join TOC", attend_path, class: "btn btn-lg btn-secondary" %>
    <%= link_to "InCompany", incompany_path, class: "btn btn-lg btn-secondary" %>
    <%= link_to "Host TOC", sponsor_path, class: "btn btn-lg btn-secondary" %>
  </div>

</div>
