<div class="fluid-container text-center cover">
  <div class="cover-inner">
    <img src="" />
    <h1>Taste of Code</h1>
    <h3>Beginner Coding Workshop</h3>
    <a href="#" class="btn btn-lg btn-secondary">Join TOC</a>
    <a href="#" class="btn btn-lg btn-secondary">InCompany</a>
    <a href="#" class="btn btn-lg btn-secondary">Host TOC</a>
  </div>

</div>

<footer class="footer">
  <p>Taste of code footer</p>
</footer>
