<div class="row homepage-cover">
  <%= image_tag 'logo_toc.png', class: "img-small" %>
  <div class="cover-inner text-center">
    <h3>Beginner Coding Workshop</h3>
    <h1>Taste of Code</h1>
    <%= link_to "Attend Taste of Code", attend_path, class: "btn btn-secondary" %>
  </div>
  <footer class="footer-home text-center">
  <span>Powered by
    <%= image_tag 'codaisseur-logo-horizontal-outlines-white.svg' %>
  </span>
</footer>
</div>
