<div class="container">
  <tbody>
    <% @sponsors.each do |sponsor| %>
      <tr>
        <span><%= sponsor.company_name %></span>
        <%= image_tag sponsor.logo,  height: 100, alt: "Sponsor logo" %>
        <hr>
      </tr>
    <% end %>
  </tbody>
</div>
