.footer {
  bottom: 0;
  margin-top: 10px;
  padding-top: 30px;
  padding-bottom: 0;
  border-top: 1px solid lightgrey;
}
.footer .icon-container {
    display: inline-block;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin-right: 10px;
    background-color: grey;
    text-align: center;
    font-size: 1.2em;
    color: #fff;
}

.footer .icon-container a {
    padding: 4px 9px;
}
.footer .icon-container i {
    color: #fff;
    line-height: 37px;
}
.footer .icon-container:hover {
  background-color: rgb(178, 20, 34);
}
