//= require_tree .
@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-datetimepicker";
@import "admin";
@import "footer";

@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,500,900);

@import "font-awesome-sprockets";
@import "font-awesome";

$btncolor: #FF9062;
$btnshadow: #EC5357;
$panelcolor: #5EB4AF;
$light-peach: #faf5ef;
$deep-peach: #FF9062;
$workshop-background: rgba(35,39,42,.9);

html{
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  background-color:$light-peach;
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #fff;
  background-color: $btncolor;
  box-shadow: 0px 3px $btnshadow;

  margin-left: 15px;
  margin-right: 15px;
  padding: 8px 20px;
}

.btn-secondary:hover{
  position: relative;
  top: 2px;
}

// Homepage
.cover{
  color: #fff;

  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cover h3{
  margin-bottom: 10px;
  text-transform: uppercase;
}

.cover h1{
  margin-bottom: 40px;
  text-transform: uppercase;
  font-size: 50px;
}

.cover-inner{
  background-color: $panelcolor;
  min-width: 600px;
  padding: 30px;
  border-radius: 5px;
}

.footer-home{
  position: absolute;
  bottom: 0;
  width: 100%;
}

// Images
.img-small{
  height: 140px;
  width: 140px;
}

.img-sponsor-logo{
  width: 50px;
}

.img-carousel{
  width: 300px;
}

// Events
.event{
  color:white;
  background-color:$deep-peach;
  border-radius: 5px;
  margin-left:20px;
  margin-right:20px;
}
.event-location{
  font-size:24px;
}
.event-date, .event-time{
  font-size:18px;
}

.event-workshop-type{
  background-color:$workshop-background;
  margin-top: -10px;
  margin-bottom:30px;
}
.rsvp{
  padding:20px;
}
.rsvp-button{
  width:30%;
  background-color: $panelcolor;
  box-shadow: 0px 3px $btnshadow;
}
