@import "bootstrap-sprockets";
@import "bootstrap";
@import "footer";

// *******  Add fonts
@import url(https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&subset=latin-ext);
@import "font-awesome-sprockets";
@import "font-awesome";

html{
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;

  height: 100%;
}

// ******* Homepage
.cover{
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);

  background-color: #333;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cover h3{
  margin-top: 0px;
  margin-bottom: 40px;
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  font-weight: bold;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px 35px;
}
