//= require_tree .
@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-datetimepicker";
@import "admin";
@import "footer";

@import url(https://fonts.googleapis.com/css?family=Roboto:100,400,500,700);

@import "font-awesome-sprockets";
@import "font-awesome";

$btnshadow: #EB5357;
$panelcolor: #5EB4AF;
$panelcolor-tint: rgba(94,180,175, 0.9);
$light-peach: #faf5ef;
$deep-peach: #FF9062;
$workshop-background: rgba(35,39,42,.9);

html{
  height: 100%;
}

body {
  color: #4A4A4A;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #FAF5EF;
  height: 100%;
  background-color:$light-peach;
}

.row{
  padding-bottom: 40px;
  padding-top: 30px;
}

.row-secondary{
  background-color: rgba(216, 216, 216, 0.6);
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #fff;
  background-color: $deep-peach;
  box-shadow: 0px 3px $btnshadow;

  margin-left: 15px;
  margin-right: 15px;
  padding: 8px 20px;
}

.btn-secondary:hover{
  position: relative;
  top: 2px;
}

// Homepage
.cover{
  color: #fff;

  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction:column;
  justify-content: space-between;
  background-image: url("../../assets/images/homepage_bg.png");
  background-size:cover;
  background-repeat:no-repeat;
}
.homepage-cover{
  color: #fff;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction:column;
  justify-content: space-between;
  background-image: url("../../assets/homepage_bg.png");
  background-size:cover;
  background-repeat:no-repeat;

  .img-small {
    position:absolute;
    top:0;
  }
  footer {
    padding-bottom:10px;
  }
  h3 {
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight:100;
  }
  h1 {
    margin-bottom: 40px;
  text-transform: uppercase;
  font-size: 50px;
  font-weight:100;
}
.cover-inner {
  background-color: $panelcolor-tint;
  min-width: 600px;
  padding: 30px;
  border-radius: 5px;
}
span{
  font-size:18px;
}
}

.cover-inner h3{
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight:100;
}

.cover-inner h1{
  margin-bottom: 40px;
  text-transform: uppercase;
  font-size: 50px;
  font-weight:100;
}

.cover-inner{
  background-color: $panelcolor-tint;
  width: 600px;
  padding: 30px;
  border-radius: 5px;
  margin-top: 50px;
}
.cover span{
  font-size:18px;
}

.footer-home{
  position: absolute;
  bottom: 0;
  width: 100%;
}

// Public pages
h2{
  color: $btnshadow;
  font-size: 30px;
  font-weight: 100;
}

.subtitle{
  font-size: 20px;
  padding-bottom: 20px;
  padding-top: 10px;
}

.top-banner{
  color: #fff;
  // text-transform: uppercase;;

  background-image: url('../../assets/image_attend_bg.jpg');
  background-repeat: no-repeat;
  height: 600px;
  padding-top: 0px;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-size:cover;
  background-repeat:no-repeat;
}

.form-newsletter{
  background-color: inherit;
  min-width: 420px;
  padding: 8px 0;
  margin: 20px 0 30px;

  border: 0px;
  border-bottom: 2px solid darkgrey;
}

.carousel-caption{
    position:static;
}

.reviews{
  color: #fff;
  font-weight: 100;
  background-color: $panelcolor;

  width: 600px;
  min-height: 150px;
  margin: 20px auto;
  padding-bottom: 10px;

  border-radius: 5px;
}

.review-text{
  padding: 25px;
  font-size: 18px;
}

.orange-hr{
  width: 100px;
  margin: 10px auto;
  border: 0px;
  border-bottom: 7px solid $deep-peach;
}

.carousel-indicators{
  bottom: -50px;
}

.carousel-indicators li{
  background-color: grey;
  border: 0px;
  width: 12px;
  height: 12px;
}

.carousel-indicators li.active{
  background-color: $deep-peach;
}

// Images
.img-small{
  width: 100px;
}

.img-medium{
  width: 300px;
}

.img-getready{
  width: 250px;
  margin: 30px 0;
  mix-blend-mode: multiply;

}

.logo{
  height: 50px;
  padding-top: 20px;
}

.img-sponsor-logo{
  width: 120px;
}

// Events
.event{
  color:white;
  background-color:$deep-peach;
  border-radius: 5px;
  margin-left:10px;
}
.event-btn-secondary{
    color: #fff;
    background-color: #FF9062;
    box-shadow: 0px 3px #EC5357;
    margin-left: 15px;
    margin-right: 15px;
    padding: 8px 20px;
}
.event-btn{
  display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.event-location{
  font-size:24px;
  padding-bottom:5px;
}
.event-date, .event-time{
  font-size:18px;
}

.event-workshop-type{
  background-color:$workshop-background;
  margin-top: -10px;
  margin-bottom:30px;
}
.rsvp{
  padding:20px;
}
.rsvp-button{
  width:30%;
  background-color: $panelcolor;
  box-shadow: 0px 3px $btnshadow;
}
.flashmessages {
    width: 940px;
    margin: auto;
    padding: 10px;
}
