@import "bootstrap-sprockets";
@import "bootstrap";

// *******  Add fonts
@import url(https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&subset=latin-ext);
html {
  font-size: 10px;
}
body {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #333;
  background-color: #faf5ef;
}
