<div class="row">
  <div class="container-fluid">
    <div class="container">
      <h1>What You Will Learn</h1>
      <h3>Professional developers technologies</h3>
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <img src="http://www.mcst.gov.mt/Media/Images/tdp.jpg" height="140px" width="140px" alt="Small picture" class="img-circle" />
            <h2>Some nice thing<br>devided over 2 lines</h2>
            <p>Some small text aswell</p>
          </div>
          <div class="col-lg-4">
            <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRgMNNu2UDUH4wxRviSy--1XpCa3gel974wZxldYiHlxjJS4CcF" height="140px" width="140px" alt="Small picture" class="img-circle" />
            <h2>Some nice thing<br>devided over 2 lines</h2>
            <p>Some small text aswell</p>
          </div>
          <div class="col-lg-4">
            <img src="http://fixe-software.com/images/Fixe-development-tech.png" height="140px" width="140px" alt="Small picture" class="img-circle" />
            <h2>Some nice thing<br>devided over 2 lines</h2>
            <p>Some small text aswell</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
