<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
</head>

<body>
  <hr>
  <div class="container-fluid">
    <h1> Get Ready for the day </h1>
    <h3> Know Your Tools</h3>
    <div class="container marketing">
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="http://res.cloudinary.com/dmagtxb3l/image/upload/v1490692470/slack_logo_vd31de.png" alt="slack logo" width="140" height="140">
          <h2> Slack <h2>
            <p class ="lead">
            "Slack brings all your communication together in one place. It's real-time messaging, archiving and search for modern teams."
          </p>
            <a class="btn btn-default" href="#" role="button">View Details</a>
        </div>
        <div class="col-lg-4">
          <img class="img-circle" src="http://res.cloudinary.com/dmagtxb3l/image/upload/v1490692409/chrome_logo_nuctol.jpg" alt="chrome logo" width="120" height="120">
          <h2> Chrome <h2>
            <p class ="lead">
            "Google Chrome browser is an open source program for accessing the World Wide Web and running Web-based applications."
          </p>
            <a class="btn btn-default" href="#" role="button">View Details</a>
        </div>
        <div class="col-lg-4">
          <img class="img-circle" src="http://res.cloudinary.com/dmagtxb3l/image/upload/v1490692278/atom_logo_bks196.jpg" alt="atom logo" width="140" height="140">
          <h2> Atom <h2>
            <p class ="lead">
            "Atom is a free and open-source text and source code editor support for plug-ins written in Node.js, developed by GitHub."
          </p>
            <a class="btn btn-default" href="#" role="button">View Details</a>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
