<!DOCTYPE html>
<html>
  <head>
    <title>Taste of Code - Free beginner course to learn about programming</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default navbar-static-top">
    </nav>
    <%= yield %>
    <footer class="footer">
    </footer>
  </body>
</html>
